doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/bower_components/firebase/firebase.js")
    script(src="/javascripts/index.js")
  body
    block content
